<h1>Editing itempedido</h1>

<%= render "form", itempedido: @itempedido %>

<br>

<div>
  <%= link_to "Show this itempedido", @itempedido %> |
  <%= link_to "Back to itempedidos", itempedidos_path %>
</div>
