<% options ||= {} %>
<% options[:class] = "form-control form-select #{'is-invalid' if f.object.errors[attribute].any?} #{custom_class if local_assigns[:custom_class] }" %>

<div class="field col">
    <%= f.label attribute, class: "form-label" %>
    <%= f.select(attribute, options_for_select(options_for_select), {}, options)  %>
    <% if f.object.errors[attribute].any? %>
        <div class="invalid-feedback d-block">
            <%= f.object.errors[attribute].join(', ') %>
        </div>
    <% end %>
</div>