

<div class="d-flex flex-column flex-shrink-0 p-3 vh-100 sidebar position-fixed">
    <a href="/" class="d-flex align-items-center pb-3 mb-3 link-body-emphasis text-decoration-none border-bottom">
        <svg class="bi pe-none me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
        <span class="fs-5 fw-semibold">HOW 6</span>
    </a>

    <%= sidebar_menu(@menu_items)[:menu] %>
</div>